.DarkMode .infoContainer {
  background-color: #999;
}
.DarkMode .habilitiesContainer {
  background-color: #999;
}
.DarkMode .title2 {
  color: #5374da;
}
.DarkMode .title {
  color: #5374da;
}
.DarkMode .param {
  color: #e5e5e5;
}
.DarkMode .liItem {
  color: #5374da;
}
.DarkMode .imgTech:hover {
  background-color: #777;
}
.DarkMode .titleProjects {
  color: #5374da;
}
.DarkMode .button {
  background-color: #111;
  color: #fff;
}
.button:hover {
  background-color: #000;
  color: #fff;
}
.DarkMode .paramDark {
  color: #5374da;
}
.DarkMode .projectContainer {
  background-color: #999;
}
.DarkMode .textIcon {
  color: #5374da;
}
.DarkMode .liContainer {
  background-color: #111;
}
.DarkMode .nav-icon-5 span {
  background-color: #5374da;
}
.DarkMode .iconSocial {
  color: #5374da;
}
