/* Container general */
.bodyContainer {
  display: flex;
  justify-content: left;
  margin: 40px;
  margin-top: 5px;
}
.infoContainer {
  display: inline-block;
  background-color: #fff;
  padding: 10px;
  padding-bottom:60px;
  border-radius: 12px;
  margin-top: 10px;
  margin-bottom: 40px;
  box-shadow: 0px 6px 8px 4px rgba(0, 0, 0, 0.15);
}
.flexContainer {
  display: flex;
  flex-direction: column;
}
.flexContainer2 {
  display: flex;
}
.aboutContainer {
  margin: 0 auto;
  margin-top: 50px;
}
.titleContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.span {
  color: var(--color-blue);
}
/* icons */
.iconDownload {
  margin-right: 5px;
}
.iconUser {
  margin-right: 10px;
  font-size: 15px;
}

/* Titulo */
.titleContainer {
  margin: 2em;
}
/* Parrafo */
.paramContainer {
  margin: 2em;
  justify-content: center;
}
.param {
  font-size: 17px;
  text-align: center;
}
/* Imagen */
.imgContainer {
  display: flex;
  justify-content: center;
}
.foto {
  width: 17em;
  height: 17em;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px;
  margin-top: 40px;
}
/* Button */
.buttonContainer {
  display: flex;
  justify-content: center;
}

.button {
  padding: 12px;
  border-radius: 4px;
font-weight: 500;
  margin-right: 5px;
  background-color: #fff;
  cursor: pointer;
  border: solid 2px #111;
}
.buttonCV {
  background-color: #002f6c;
  padding: 14px;
  border-radius: 4px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 500;
  margin-right: 5px;
}
.buttonCV:hover {
  background-color: #000640;
  cursor: pointer;
}

.title {
  color: #222;
}
@media (min-width: 500px) {
  .param {
    width: 23em;
    font-size: 17px;
    text-align: center;
  }
}
@media (max-width: 800px) {
  .foto {
    margin: 0;
    padding: 0;
    object-fit: cover;
    border-radius: 50%;
  }
  .title {
    font-size: 25px;
  }
  .span {
    color: var(--color-blue);
    font-size: 20px;
  }
  .Developer {
    font-size: 20px;
    margin-bottom: -15px;
  }
  .infoContainer {
    display: inline-block;
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    
    border-radius: 12px;
    padding-bottom: 0;
  }
  .bodyContainer {
    display: flex;
    justify-content: center;
    margin: 30px;
    margin-bottom: 0;
    margin-top: -20px;
  }
  .flexContainer2 {
    display: flex;
    justify-content: center;
  }
  .infoContainer {
    margin-bottom: 0px;
  }
}
@media (max-width: 1600px) {
  .foto {
    width: 15em;
    height: 15em;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px;
  }
  .paramContainer {
    margin: 1.4em;
    margin-right: 0;
    justify-content: center;
  }
  .title {
    font-size: 25px;
  }
  .span {
    color: var(--color-blue);
    font-size: 20px;
  }
  .Developer {
    font-size: 20px;
    margin-bottom: -15px;
  }
  .param {
    width: 19em;
    text-align: center;
    font-size: 17px;
  }
  .infoContainer {
    display: inline-block;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    margin-top: 10px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    box-shadow: 0px 6px 8px 4px rgba(0, 0, 0, 0.15);
  }
}

@media (max-width: 1500px) {
  .foto {
    width: 15em;
    height: 15em;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px;
  }
  .infoContainer {
    background-color: #fff;
    padding-top: 0px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-radius: 12px;
    box-shadow: 0px 6px 8px 4px rgba(0, 0, 0, 0.15);
  }

  .paramContainer {
    margin: 1.4em;
    margin-right: 0;
    justify-content: center;
  }
  .title {
    font-size: 25px;
  }
  .span {
    color: var(--color-blue);
    font-size: 20px;
  }
  .Developer {
    font-size: 20px;
    margin-bottom: -15px;
  }
  .param {
    width: 19em;
    text-align: center;
    font-size: 15px;
  }
  .bodyContainer {
    display: flex;
    justify-content: left;
    margin: 30px;
    margin-bottom: 0;
    margin-top: -10px;
  }
}