.flexContainer {
    display: flex;
  }
  .title {
    color: #00214c;
  }
  .param {
    font-weight: 400;
    width: 35em;
    font-size: 22px;
    color: #000;
    margin: 20px;
    margin-left: 0;
    line-height: 32px;
  }
  .contactContainer {
    margin: 0 auto;
    margin-top: 50px;
  }
  