.liContainer {
  display: flex;
  justify-content: space-evenly;
}
.liContainer2 {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 800px) {
  .liContainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 20px;
    margin-left: 50px;
  }
}
@media (max-width: 800px) {
  .liContainer {
    position: absolute;
    background-color: #fff;
    padding: 10px;
    padding-top: 60px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 0;
    margin-top: 1px;
  }
  .liContainer2 {
    display: none;
  }
}
