.liContainer {
  display: flex;
  justify-content: space-evenly;
}

.liItem {
  margin: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--letter-blue);
  list-style: none;
}
.liItem:hover {
  cursor: pointer;
  color: var(--color-blue);
  transform: scale(0.98);
}
.flexContainer {
  display: flex;
  justify-content: right;
  margin-right: 20px;
}
.icon {
  margin-right: 10px;
  font-size: 15px;
  margin-bottom: 1px;
}
.nav {
  text-decoration: none;
}
.liItemIconGitHub {
  margin: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: none;
}
.liItemIconLinkedin {
  margin: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: none;
}

.textIcon {
  display: inline-block;
  margin-left: 10px;
  text-decoration: none;
  color: var(--letter-blue);
}
.textIcon:hover {
  cursor: pointer;
  color: var(--color-blue);
  transform: scale(0.98);
}
@media (min-width: 800px) {
  .textIcon {
    display: none;
  }
}

@media (max-width: 800px) {
  .nav:active {
    background-color: #e5e5e5;
  }
  .liItemIconLinkedin:active {
    background-color: #e5e5e5;
  }
  .liItemIconGitHub:active {
    background-color: #e5e5e5;
  }
  /* .liContainer {
    position: absolute;
  background-color: #fff;
  padding: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  } */
}

@media (min-width: 800px) {
  .burgerContainer {
    display: none;
  }
}
@media (max-width: 800px) {
  .liContainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 20px;
    margin-left: 50px;
  }
  .flexContainer {
    display: flex;
    justify-content: left;
  }
  .liItemIconGitHub {
    margin: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
  }
  .liItemIconLinkedin {
    margin: 40px;
    margin-top: 10px;
    list-style: none;
  }
}

.burger {
  border: none;
  list-style: none;
}
@media (min-width: 800px) {
  .burger {
    display: none;
  }
}
@media (max-width: 1600px) {
  .liItem {
    font-size: 12px;
  }
  .icon {
    margin-right: 10px;
    font-size: 12px;
    margin-bottom: 1px;
  }
  .nav {
    text-decoration: none;
  }
  .liItemIconGitHub {
    margin: 38px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    list-style: none;
  }
  .liItemIconLinkedin {
    margin: 38px;
    margin-top: 20px;
    font-size: 14px;
    margin-bottom: 20px;
    list-style: none;
  }
}
@media (min-width: 800px) {
  .liItemIconLinkedin {
    margin-left: 10px;
  }
}
.textIcon {
  font-size: 12px;
}
.paramDark {
  color: var(--letter-blue);
  margin-bottom: 2px;
}
.iconDark {
  margin-right: 6px;
}
.liItemIcon {
  margin: 20px;

  font-size: 14px;
  list-style: none;
}
@media (max-width: 800px) {
  .liItemIcon {
    margin: 39px;
    margin-top: 13px;
    margin-bottom: 13px;
    font-size: 14px;
    list-style: none;
  }
}
.iconSocial {
  color: var(--letter-blue);
  font-size: 13px;
}
.iconSocial:hover{
  color: var(--color-blue);
  transform: scale(0.98);
}